/* Stile Tabella */
.table {
    max-width: 90%; 
    margin: auto; 
    border-collapse: collapse; 
    font-size: 0.9rem; 
}

.table th, 
.table td {
    border: 3px solid #656464; 
    padding: 10px; 
    text-align: center; 
    overflow: hidden; 
}





/* Stile Descrizione Troncata */
.truncated-text {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.truncated-text:hover {
    white-space: normal;
    overflow: visible;
    position: relative;
    z-index: 10;
    background: #fff;
    padding: 10px;
    
}
