/* Stile per il container del loader */

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    
    visibility: hidden;
    
}


/* Animazione del caricamento */

.spinner {
    width: 50px;
    height: 50px;
    border: 15px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid #007bff;
    /* Colore del bordo superiore */
    border-radius: 50%;
    animation: spin 1s linear infinite;
    /* Rotazione continua */
}


/* Effetto di rotazione */

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* NAVBAR E COLLAPSE */

/* Spazio tra le icone di spedizione e il carrello */
.d-flex.align-items-center {
    margin-right: 10px; 
}

/* PROPRIETA' CSS, SFONDO CHI ABOUT US / STORY */

.container-story {
    background-color: #dbeef3;
    border-radius: 10px;
    overflow: hidden; 
    box-sizing: border-box;}
  
  .immagineStory {
    float: left; 
    margin-right: 15px; 
    margin-bottom: 10px; 
    max-width: 40%; 
    height: auto; 
    border-radius: 10px;
    box-sizing: border-box; 
  }
  
  .story-text {
    font-size: 23px;
    text-align: justify;
  }
  
  
  .container-mission {
    background-color: #e9f0e8;  

    color: #000000;
    border-radius: 10px;
  }
  
  .imgSfondoMission {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .mission-content-text {
    position: relative;
    z-index: 2;
    padding: 20px;
    border-radius: 10px;
  }
  
  .immagineMission {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    opacity: 0.3;
  }
  
  .mission-values-container {
    padding: 20px;
    border-radius: 10px;
  }

/* SFONDO MAIN */



.background {
    position: relative;
    color: white;
}

.background img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.background .sfondo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    margin-top: -50px;
}


/* Proprietà Css sfondo Surf */

.surf {
    position: relative;
    color: #FAF9F6
}

.surf img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.surf .sfondoW {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    margin-top: -50px;
}

.colorW {
    opacity: 0.7;
    
    transition: opacity 0.3s ease;
    
    color: #87CEEB
}

.colorR {
    opacity: 0.8;
    
    transition: opacity 0.3s ease;
    
    color: #76d7c6
}

.testoM {
    min-height: 100px;
    /* Imposta un'altezza minima uniforme */
    max-height: 100px;
    /* Imposta anche un'altezza massima per garantire l'allineamento */
    overflow: hidden;
    /* Nasconde il contenuto eccedente */
    text-overflow: ellipsis;
    /* Mostra "..." per il testo in eccesso */
    display: -webkit-box;
    /* Necessario per il layout a riga limitata */
    -webkit-line-clamp: 5;
    /* Limita il numero di righe visibili */
    -webkit-box-orient: vertical;
    /* Orienta il contenitore verticalmente */
    cursor: pointer;
    /* Indica che l'elemento è interattivo */
}


/* Mostra tutto il testo al passaggio del mouse */

.testoM:hover {
    max-height: none;
    
    -webkit-line-clamp: unset;
    /* Disabilita il limite di righe */
    overflow: visible;
    /* Mostra tutto il contenuto */
    background-color: rgba(255, 255, 255, 0.9);
    
    padding: 5px;
    
    z-index: 10;
    
    position: relative;
}



/* Imposta le icone PER LA MODIFICA PUT nere e più piccole */
.card .bi-pencil-square {
    font-size: 12px; 
    color: black;    
    opacity: 0;      
    transition: opacity 0.3s ease-in-out; 
}

/* Mostra le icone quando si passa con il cursore */
.card:hover .bi-pencil-square {
    opacity: 1; 
}

/* Aggiungi un effetto hover sulle icone per migliorare l'interazione */
.card .bi-pencil-square:hover {
    color:red; 
    cursor: pointer; 
}

.iconaImg{
    font-size: 15px;
    color: black;
    opacity: 0;
    transition: opacity 0.3 ease-in-out;
    position: absolute;
    top: 10px;
    right: 10px;
    transform: translate(0, 0); 
    
}

.card:hover .iconaImg{
    opacity: 1;
}

.card .iconaImg:hover{
    color:red;
    cursor: pointer;
}


.card {
    position: relative; 
}


/* FOOTER */


.background{
    background-color:  rgb(33 34 71)!important;
}

.vociTesto > li {
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.rigaNewsL {
    margin-left: 0;
    margin-right: 0;
}